:root {
  --pink: #da6d97;
  --dark-pink: #ba4270;
  --white: #fbfcfe;
  --dark-blue: #1b262f;
  --gray-blue: #36536b;
  --light-gray: #6c8294;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  color: var(--light-gray);
  background-color: #edf3f8;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  width: 100%;
  max-width: 1130px;
  align-items: center;
  color: var(--gray-blue);
  padding-top: 2.75rem;
}

nav a {
  color: inherit;
  text-decoration: none;
}

nav > .nav--right > ul > li {
  opacity: 70%;
}

.nav--right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.nav--right > ul {
  display: flex;
  list-style-type: none;
  gap: 4rem;
}

.nav--left {
  border: 0;
  background-color: var(--dark-pink);
  color: var(--white);
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 1rem;
}

.info--ready {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8rem 0;
}

.info--ready > p {
  font-size: 3rem;
  font-weight: 400;
  color: var(--gray-blue);
}

.info--schedule {
  width: 30rem;
}

.info--schedule {
  display: flex;
  box-shadow: 10px 10px 25px rgba(54, 83, 107, 0.25);
  position: relative;
  right: 0;
  border-radius: 2rem;
}

.info--schedule-input > input {
  outline: 0;
  width: 100%;
  color: var(--gray-blue);
}

.info--schedule-input > input,
.info--schedule-button {
  border: 0;
  padding: 1rem 2rem;
  border-radius: 2rem;
}

.info--schedule-button {
  position: absolute;
  right: 0;
  background-color: var(--dark-pink);
  color: var(--white);
  font-size: 14px;
  cursor: pointer;
}

footer {
  background-color: var(--dark-blue);
  background-image: url(../assets/shared/desktop/bg-pattern-circle.svg);
  background-repeat: no-repeat;
  background-position: calc(50% + 700px) 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  padding-bottom: 2.75rem;
}

footer .nav--right {
  color: var(--white);
}

.footer--nav-left {
  border: 0;
  background-color: var(--dark-blue);
  display: flex;
  gap: 1.5rem;
}
