:root {
  --pink: #da6d97;
  --dark-pink: #ba4270;
  --white: #fbfcfe;
  --dark-blue: #1b262f;
  --gray-blue: #36536b;
  --light-gray: #6c8294;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #edf3f8;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  width: 100%;
  max-width: 1130px;
  align-items: center;
  color: var(--gray-blue);
  padding-top: 2.75rem;
}

nav a {
  color: inherit;
  text-decoration: none;
}

.nav--right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.nav--right > ul {
  display: flex;
  list-style-type: none;
  gap: 4rem;
}

.nav--left {
  border: 0;
  background-color: var(--dark-pink);
  color: var(--white);
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 1rem;
}
